.toggle {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
  }
  
  .toggle input {
    display: none;
  }
  
  .toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    border-radius: 34px;
    transition: background-color 0.2s;
    border: none;
    outline: none;
    box-shadow: none;
  }
  
  .toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.2s;
  }
  
  input:checked + .toggle-slider {
    background-color: #2196F3;
  }
  
  input:checked + .toggle-slider:before {
    transform: translateX(26px);
  }
  
  .toggle-label {
    display: inline-block;
    vertical-align: middle;
  }