.outer-container {
  border: 1px solid black;
  margin: 30px 50px;
}

.menu-container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  height: 150px;
  margin: 30px 50px;
  justify-content: space-around;
}

.stintl-container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  height: 650px;
  margin: 30px 50px;
  justify-content: space-evenly;
}

.time-button {
  display: flex;
  flex-direction: column;
  align-self: center;
  border: 1px solid black;
}

.time-start {
  margin: 15px 20px;
}

.time-end {
  margin: 15px 20px;
}

.box-items {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: auto;
  margin: 15px;
  border: 1px solid black;
  justify-content: space-evenly;
  padding: 0px 10px;
}

.nest {
  border: 1px solid blue;
  padding: 10px;
  height: 130px;
}

.nest-bt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: auto;
  width: auto;
}

.recipient {
  border: 1px solid blue;
  padding: 10px;
  height: 130px;
}

.recipient-bt {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: auto;
  width: auto;
}

.provider {
  border: 1px solid blue;
  padding: 10px;
  height: 130px;
}

.provider-bt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: auto;
  width: auto;
}

.prey-item {
  border: 1px solid blue;
  padding: 10px;
  height: auto;
  margin: 15px;
  width: 150px;
}

.prey-item-bt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.prey-size {
  border: 1px solid blue;
  padding: 10px;
  height: auto;
  margin: 15px;
  width: 150px;
}

.prey-size-bt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.number-items {
  border: 1px solid blue;
  padding: 10px;
  height: auto;
  margin: 15px;
  width: 150px;
}
