
.outer-container {
  border: 1px solid black;
  margin: 30px 50px;
}

.start-stint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 30px 50px;
  justify-content: space-around;
}

.stintl-container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 30px 50px;
  justify-content: space-evenly;
}

/* .time-button {
  display: flex;
  flex-direction: column;
  align-self: center;
  border: 1px solid black;
} */

.box-items {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 15px;
  border: 1px solid black;
  justify-content: space-evenly;
  padding: 0px 10px;
}

.nest {
  border: 1px solid blue;
  padding: 10px;
  height: auto;
}

.nest-bt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.recipient {
  border: 1px solid blue;
  padding: 10px;
  height: auto;
}

.recipient-bt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.provider {
  border: 1px solid blue;
  padding: 10px;
  height: auto;
}

.provider-bt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: auto;
  width: auto;
}

.prey-item {
  border: 1px solid blue;
  padding: 10px;
  height: auto;
  margin: 15px;
  width: 150px;
}

.prey-item-bt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.prey-size {
  border: 1px solid blue;
  padding: 10px;
  height: auto;
  margin: 15px;
  width: 150px;
}

.prey-size-bt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.number-items {
  border: 1px solid blue;
  padding: 10px;
  height: auto;
  margin: 15px;
  width: 150px;
}

.left-column,
.right-column {
  padding: 20px;
}

.login-column {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  /* Add a max-width to limit the width of the container */

}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-column {
  text-align: right;
}


.time-button {
  display: flex;
  flex-direction: column;
}

.feed_header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}


button, input[type="button"]  {
  padding: 10px 20px ; /* Set the padding to the desired size */
  font-size: 16px  ; /* Set the font size to the desired size */
}

.display-button {
  display: flex;
  justify-content: flex-end;
}